div.content
  div(style="float:right;")
    a(href="#" class="nav-link" data-link="config") Config
  br
  input(type="text" placeholder="Enter input directory" name="inputDir" id="inputDir" width="200")
  button(onClick="RunIt();") Run
